/* OPCION CSS SECUNDARIA */
.NavBar {
    display: flex;
    align-items: center;
    margin: 0.5rem 4rem;
    justify-content: space-between;
}

.NavBar__izquierda {
    display: flex;
    align-items: center;
}
/* 
@media screen and (max-width: 48rem) {
    .NavBar {
        flex-direction: column;
    }

    .NavBar__izquierda {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 25.75rem) {
    .NavBar {
        flex-direction: column;
    }

    .NavBar__izquierda {
        flex-direction: column;  
    }

    .NavBar__barraBusqueda {
        margin-left: 1rem;
        width: 24,375rem;
    }
    
} */

/* OPCION CSS ORIGINAL */

/* .NavBar {
    display: flex;
    align-items: center;
    margin: 0.5rem 4rem;
} */

/* .NavBar__barraBusqueda {
    margin-right: 30rem;
} */