.producto {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.producto__imagen {
    max-width: 11rem;
    max-height: 10.875rem;
}

.producto__nombre {
    color: #464646;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    max-width: 11rem;
}

.producto__costo {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
}

.producto__ver {
    color: #2A7AE4;
    font-size: 1rem;
}