.footer {
    display: flex;
    margin: 4rem 0 2rem;
    padding: 4rem;
    background-color: #EAF2FD;
    align-items: flex-start;
    gap: 7rem;
}

.footer__logo {
    display: flex;
    align-items: center;
}

/* @media screen and (min-width: 25.75rem) {
    .footer{
        margin: 1rem 0;
        padding-right: 0;
        gap: 2rem;
        align-items: center;
    }

    .footer__logo{
        margin-right: 3rem;
    }
} */

/* @media screen and (min-width: 0rem) {
    .footer{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin: 0;
        padding: 1rem;
        gap: 2rem;
        align-items: center;
    }

    .footer__logo{
        margin-right: 3rem;
    }
} */