.Copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* @media screen and (min-width: 0rem) {
    .Copyright{
        margin-top: 1rem;
    }
} */