body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  
}

p {
  display: flex;
  flex-wrap: wrap;
}

/* @media screen and (max-width: 25.75rem){
  .body{
    padding: 1rem;
  }
  
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
